/* PALLETE
  dark-primary-color:     #303F9F;
  default-primary-color:  #3F51B5;
  light-primary-color:    #C5CAE9;
  accent-color:           #44b39b;
  divider-color:          #B6B6B6
*/

* {
  box-sizing: border-box;
  user-select: none;
}

html {
  color: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #303f9f;
  background: linear-gradient(#303f9f, transparent), linear-gradient(-45deg, #007e6e, transparent),
    linear-gradient(45deg, #3f007e, transparent);
  background-blend-mode: multiply;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main {
  height: 100vh;
}