/* PALLETE
  dark-primary-color:     #303F9F;
  default-primary-color:  #3F51B5;
  light-primary-color:    #C5CAE9;
  accent-color:           #44b39b;
  divider-color:          #B6B6B6
*/

#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#congrats {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 10%;
    z-index: 3;
}

#congrats img {
    height: 40%;
    margin: 0 auto;    
    width: 40
}

#congrats > div {
    font-size: 60px;    
    margin-top: 20px;
    text-align: center;
}

#board {
    width: 100%;
}

#controls {
    bottom: 10px;
    height: 24px;
    opacity: .7;
    position: absolute;
    width: 100%;
}