#board {
  height: 80%;
  position: relative;
  width: 80%;
}

#board > .tile {
  cursor: pointer;
  display: block;
  height: 0;
  position: absolute;
  text-align: center;
  transition: all .16s ease-out;
  width: 0;
  z-index: 2;
}

#board > .tile:before {
  background: #3F51B5;
  content: "";
  display: block;
  height: 92%;
  left: 4%;
  position: absolute;
  width: 92%;
  top: 4%;
}

#board > .tile svg {
  position: relative;
  z-index: 10;
}

#board > .tile.empty {
  background: #3F51B5;
  cursor: initial;
  z-index: 1;
}

#board > .tile.moving {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  transform: scale3d(1.05, 1.05, 1.05);
}
