.board-wrapper {
  height: calc(100% - 4rem);
  padding: 2rem;
}

.board .tile {
  cursor: pointer;
}

.board .tile rect {
  fill: #3F51B5;
}

.board .tile text {
  fill: #cfd5f7;
}

.board .tile, .board {
  transition: all .2s cubic-bezier(1, 0, 0, 1)
}


@media all and (max-width: 768px) {
  .board-wrapper {
    padding: 1rem;
  }
}

@media (pointer: fine) {
  .board .tile:hover rect {
    fill: #475bca;
  }  
}

@media (pointer: coarse) {
  .board .tile:active rect {
    fill: #475bca;
  } 
}