.controls {
  display: flex;
  flex: 0 0 auto;
  font-size: 1.125rem;
  margin-top: 1rem;
}

.controls > div {
  padding: 0 1rem;
  display: inline-flex;
  align-items: center;
}

.controls .rows-controls {
  flex: 1 0 auto;
  justify-content: flex-end;
  padding-left: 4rem;
}

.controls .cols-controls {
  flex: 1 0 auto;
}

.controls .aside-controls {
  flex: 0 1 auto;
}

.btn {
  cursor: pointer;
  margin-left: 1rem;
  height: 3rem;
  width: 3rem;
  transition: all .2s;
  opacity: .6;
}



@media all and (max-width: 768px) {
  .btn {
    height: 2rem;
    width: 2rem;
    margin-left: .3rem;
  }

  .controls {
    font-size: 1rem;
  }

  .controls > div {
    padding: 0 .25rem;
  }

  .controls > div:first-child {
    padding-left: 1rem;
  }

  .controls > div:last-child {
    padding-right: 1rem;
  }
}

@media (pointer: fine) {  
  .btn:hover {
    opacity: 1;
  }
}

@media (pointer: coarse) {
  .btn:active {
    opacity: 1;
  }
}