* {
  box-sizing: border-box;
  user-select: none;
}

html {
  color: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #303F9F;
  background:
    linear-gradient(#303F9F, transparent),
    linear-gradient(-45deg, #007E6E, transparent),
    linear-gradient(45deg, #3F007E, transparent);
  background-blend-mode: multiply;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}