#board > .tile {
  cursor: pointer;
  display: block;
  height: 0;
  position: absolute;
  text-align: center;
  transition: all .12s ease-out;
  width: 0;
  z-index: 2;
}

#board > .tile:before {
  background: #3F51B5;
  content: "";
  display: block;
  height: 92%;
  left: 4%;
  position: absolute;
  width: 92%;
  top: 4%;
}

#board > .tile:hover:before {
  background: #475bca;
}

#board > .tile svg {
  position: relative;
  z-index: 3;
}

